*{
	margin:0px;
	padding: 0px;
	font-size: 12px;
	font-family: Source Code Pro;
}

#content,#queryDiv{
	width: 700px;
	margin:0 auto;
}

/*===========================*/

.qaudc{
	  width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: rgb(69, 157, 221);
}
.clear{
	color: #000000;
	background-color: #C3FFFF;
}
/*===========================*/

#query-params{
	width: 100%;
	margin:10px auto;
	height : 20px;
	line-height:20px;
}

.queryParam{
	width:150px;
	height : 20px;
	line-height:20px;
	margin-top: -20px;
}

table,tr,th,td{
	border: 1px solid #000;
	border-collapse:collapse;
	text-align: center;
	vertical-align: middle;
	width:699px;
	margin:0 auto;
}

th{
	background-color: #FFCF00;
}

th,tr{
	height: 18px;
	line-height: 18px;
}

tr:hover{
	background-color: #FFFFA3;
}

.todo{
	vertical-align: middle;
}


#queryReqult{
	height:30px;
	line-height:30px;
	text-align: center;
}


#pageSize{
	width:50px;
	height:15px;
	line-height:15px;
	text-align: center;
	vertical-align: middle;
	margin:0px 5px;
}

.bg-result{
	background-color: #C3FFFF;
}

/*======================page nav=====================*/
#pageNav{
	margin:10px;
	height:30px;
	line-height:30px;
	text-align: center;
	vertical-align: middle;
	float: right;
}
#pageNav ul{
	margin:0 auto;
}
#pageNav ul li {
		float: left;
    height: 20px;  
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
		list-style-type: none;
		margin-right: 10px;
    padding: 0px 5px;
}
	
.pageNo{
		color:rgb(69, 157, 221);
		background-color: #FFFFFF;
}
.pageJump{
		color:#FFFFFF;
		background-color: rgb(69, 157, 221);
}

.pageNo,.pageJump{
		cursor: pointer;
		border: 1px solid rgb(204, 204, 204);
		-moz-border-radius: 5px;      /* Gecko browsers */
	  -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
/*======================page nav=====================*/


/*======================mask=====================*/
.mask{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:1000; } 
.opacity{ opacity:0.3; filter: alpha(opacity=30); background-color:#000; } 
/*======================mask=====================*/
#add-div{
		height:220px; 
		width:300px; 
		overflow:auto; 
		border:2px solid #ccc; 
		background-color:#fff; 
		position:absolute; 
		top:20%; 
		left:40%; 
		z-index:1001; 
		padding:3px;
		
}

#add-div div{
	font-size: 16px;
	margin: 10px auto;
	text-align: center;
	
}